{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions", "chrome >= 41"]
      },
      "modules": false
    }],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}
